<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MVC Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <p href="/">Tech Blog</p>
      </h1>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/userprofile">profile</a> 
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
          </div>
      </nav>
    </header>

    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
<!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/"></script>
  {{/if}}
</body>
</html>